/.env
/vendor/
/node_modules/
/composer.phar
/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/uploads/**
!/storage/uploads/.gitkeep
!/storage/uploads/laporan/
!/storage/uploads/laporan/.gitkeep
!/storage/uploads/artikel/
!/storage/uploads/artikel/.gitkeep
/storage/temp/*
!/storage/temp/.gitkeep

# Local database / OS artifacts
*.sqlite
*.sqlite3
*.db
.DS_Store
Thumbs.db
